:root {
  font-size: 70%;
}


body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  height: 100vh;
}

.white-background {
  background: white;
}

.blue-background {
  background: linear-gradient(-45deg, rgba(147, 26, 222, 0.83) 0%, rgba(28, 206, 234, 0.82) 100%) no-repeat;
}

.red-background {
  background: linear-gradient(-45deg, #a91823 0%, #ff3545 100%) no-repeat;
}

.green-background {
  background: #1ae28a linear-gradient(-45deg, #209077 0%, #1ae28a 100%);
}

.white-template {
  background: white;
  color: black;
}

.no-border {
  border: none;
}

.pt-category {
  padding-top: 5rem;
}

.spinner-loader-component-container {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .spinner-border {
    height: 7rem;
    width: 7rem;
  }
}

.card {
  .container-img {
    position: relative;

    .card-img-top {
      padding: 15px 20px;
      border-radius: 35px;
    }

    .overlay-content {
      position: absolute;
      background: black;
      top: 15px;
      left: 20px;
      right: 20px;
      bottom: 15px;
      opacity: 0;
      transition: 0.2s all ease;
      border-radius: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
    }

    &:hover {
      .overlay-content {
        opacity: 0.8;
      }
    }
  }

  .card-body {
    padding-top: 0;
    margin-bottom: 5px;
    font-size: 18px;

    .card-text-header {
      display: flex;
      justify-content: space-between;

      .card-text-category {
        color: #777777;
      }
    }
  }
}