/*
 * Dark Theme
 * ----------------------------------------------------------------------------
 */

.aruquiz-theme {
  --ion-background-color: #ffffff;


  --ion-color-primary: #4346E1;
  --ion-color-primary-rgb: 66,140,255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #3a7be0;
  --ion-color-primary-tint: #5598ff;

  --ion-color-secondary: #50c8ff;
  --ion-color-secondary-rgb: 80,200,255;
  --ion-color-secondary-contrast: red;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #46b0e0;
  --ion-color-secondary-tint: #62ceff;

  --ion-color-tertiary: #6a64ff;
  --ion-color-tertiary-rgb: 106,100,255;
  --ion-color-tertiary-contrast: red;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #5d58e0;
  --ion-color-tertiary-tint: #7974ff;

  --ion-color-success: #2fdf75;
  --ion-color-success-rgb: 47,223,117;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #29c467;
  --ion-color-success-tint: #44e283;

  --ion-color-warning: #ffd534;
  --ion-color-warning-rgb: 255,213,52;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0bb2e;
  --ion-color-warning-tint: #ffd948;

  --ion-color-danger: #ff4961;
  --ion-color-danger-rgb: 255,73,97;
  --ion-color-danger-contrast: red;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #e04055;
  --ion-color-danger-tint: #ff5b71;

  --ion-color-dark: #f4f5f8;
  --ion-color-dark-rgb: 244,245,248;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 0,0,0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;

  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152,154,162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  --ion-color-light: #222428;
  --ion-color-light-rgb: 34,36,40;
  --ion-color-light-contrast: red;
  --ion-color-light-contrast-rgb: 255,255,255;
  --ion-color-light-shade: #1e2023;
  --ion-color-light-tint: #383a3e;
}

.white {
  color: white !important;
}

ion-content {
  --background: #ffffff
}

.searchbar-input {
  box-shadow: 0px 3px 6px grey !important;
  border-radius: 28px !important;
  color: #A7A7A7 !important;
}

.searchbar-input-container{
  margin: 10px;

}



div.avatar {
  padding: 30px 0px 0px 50px;
  img {
    border-radius: 50%;
    width: 100px;
  }
  p {
    padding-top: 20px;
    letter-spacing: 0px;
    color: black;
  }
}


.sc-ion-segment-md-hion-toolbar:not(.ion-color):not(.ion-color).sc-ion-segment-md-s > ion-segment-button, ion-toolbar:not(.ion-color) .sc-ion-segment-md-h:not(.ion-color).sc-ion-segment-md-s > ion-segment-button {
  color: black
}

.menu-item {
  ion-icon {
    color: grey;
  }
  ion-item {
    border-bottom: none;
  }
  .item-inner {
    border: none;
  }
}

ion-toggle {
  --background: grey;
}

ion-modal {
  --border-radius: 10px;
  --height: 204px;
}

ion-button {
    --box-shadow: 0px 6px 9px #4346E173;
--border-radius: 28px;
}

.btn-class, .btn-start-quiz {
    width: 300px;
    margin: 0 auto;
}

.btn-create-student {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  ion-button {
    width: 270px;
  }
}

ion-button.io {
  background: red;
}

.alert-wrapper{
  background: white !important;
}

ion-item {
  --border-color: #D0D0D0;
}
.default-report-state {
  height: 0px;
  overflow: hidden;
}

.animate-report-state {
  height: 100%;
}

.link {
  outline: none;
  color: #000000;
  text-decoration: none;

}